doctype html
html(lang='en')
  head
    title Login
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='../theme-assets/images/logo/cat-logo.png')
    link(rel='stylesheet' type='text/css' href='../login/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='../login/fonts/iconic/css/material-design-iconic-font.min.css')
    link(rel='stylesheet' type='text/css' href='../login/vendor/animate/animate.css')
    link(rel='stylesheet' type='text/css' href='../login/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet' type='text/css' href='../login/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet' type='text/css' href='../login/vendor/select2/select2.min.css')
    link(rel='stylesheet' type='text/css' href='../login/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet' type='text/css' href='../login/css/util.css')
    link(rel='stylesheet' type='text/css' href='../login/css/main.css')
    link(rel='stylesheet' type='text/css' href='../theme-assets/css/vendors.css')
    link(rel='stylesheet' type='text/css' href='../theme-assets/css/app-lite.css')
  body
    .limiter
      .container-login100(style="background-image: url('../login/images/bg-01.jpg');")
        .wrap-login100
          form(action="/login" method="POST").login100-form.validate-form
            span.login100-form-logo
               image(rel='icon' src='../theme-assets/images/logo/cat-logo.png' style='width:60px;height:60px;margin-left:7px')
            span.login100-form-title.p-b-34.p-t-27
              | Log in
            if(error == true)
              if(errorMessage == 'NO_VALID_LOGIN')
                .alert.round.bg-danger.alert-icon-left.alert-dismissible.mb-2(role='alert')
                  span.alert-icon
                    i.ft-thumbs-down
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') ×
                  strong Oh snap!
                  |  Please login first.
              else
                .alert.round.bg-danger.alert-icon-left.alert-dismissible.mb-2(role='alert')
                  span.alert-icon
                    i.ft-thumbs-down
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') ×
                  strong Oh snap!
                  |  Your username or password might be wrong. Please try again.
                  
            .wrap-input100.validate-input(data-validate='Enter username')
              input.input100(type='text' name='username' placeholder='Username' required='required')
              span.focus-input100(data-placeholder='')
            .wrap-input100.validate-input(data-validate='Enter password')
              input.input100(type='password' name='password' placeholder='Password' required='required')
              span.focus-input100(data-placeholder='')
            //- .contact100-form-checkbox
            //-   input#ckb1.input-checkbox100(type='checkbox' name='remember-me')
            //-   label.label-checkbox100(for='ckb1')
            //-     | Remember me
            br
            .container-login100-form-btn
              button.login100-form-btn(type='submit')
                | Login
            br
            .container-login100-form-btn
              a.black-underline(href='/register')
                | Register
            //- .text-center.p-t-90
            //-   a.txt1(href='#')
            //-     | Forgot Password?
    #dropDownSelect1
    script(src='../login/vendor/jquery/jquery-3.2.1.min.js')
    script(src='../login/vendor/animsition/js/animsition.min.js')
    script(src='../login/vendor/bootstrap/js/popper.js')
    script(src='../login/vendor/bootstrap/js/bootstrap.min.js')
    script(src='../login/vendor/select2/select2.min.js')
    script(src='../login/vendor/daterangepicker/moment.min.js')
    script(src='../login/vendor/daterangepicker/daterangepicker.js')
    script(src='../login/vendor/countdowntime/countdowntime.js')
    script(src='../login/js/main.js')
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-23581568-13');
