extends commons/header
include commons/mixins
block body-content
    -data = data || {}
    if errors
        ul
        for error in errors
            li= error.msg
    +headerTitle('NEW STUDENT PROFILE')
        .content-body.row.justify-content-md-center
            .col-xs-6.col-md-8
                br
                br
                br
                // MultiStep Form
                .row
                    .col-md-12
                        form#msform.msform(action="/multi-step-form" method="POST").form
                            // progressbar
                            ul#progressbar
                                li.active Personal Details
                                li Parents Information
                                li Payment Information
                            // fieldsets
                            fieldset
                                h2.fs-title Personal Details
                                h5.danger * Please enter all required fields.
                                br
                                .form-body.row
                                    .form-group.col-xs-6.col-md-4
                                        p ID Number*
                                        input(type='text' name='id_number' required='required' value=data.first_name placeholder='ex. 2020-012345')
                                    .form-group.col-xs-6.col-md-4
                                        p Grade Level*
                                        select(required='required' name='grade_level')
                                            option Grade 6
                                            option Grade 5
                                            option Grade 4
                                            option Grade 3
                                            option Grade 2
                                            option Grade 1
                                            option K3
                                            option K2
                                            option K1 
                                            option Nursery
                                .form-body.row    
                                    .form-group.col-xs-6.col-md-4
                                        p First Name*
                                        input(type='text' name='first_name' required='required' value=data.first_name)
                                    .form-group.col-xs-6.col-md-4
                                        p Middle Name*
                                        input(type='text' name='middle_name')
                                    .form-group.col-xs-6.col-md-4
                                        p Last Name*
                                        input(type='text' name='last_name')
                                    .form-group.col-xs-6.col-md-4
                                        p Nickname
                                        input(type='text' name='nickname' required='required' value=data.first_name)
                                    .form-group.col-xs-6.col-md-4
                                        p Gender*
                                        select(required='required' name='gender')
                                            option Male
                                            option Female
                                    .form-group.col-xs-6.col-md-4
                                        p Birthday*
                                        input(type='date' name='birthday')
                                    .form-group.col-xs-6.col-md-8
                                        p Address*
                                        input(type='text' name='address' required='required')
                                    .form-group.col-xs-6.col-md-4
                                        p Contact Number*
                                        input(type='text' name='contact-number' required='required')
                                h6.fs-subtitle.left-indent Note: N/A if not applicable
                                input.next.action-button(type='button' name='next' value='Next')
                            fieldset
                                h2.fs-title Parents Information
                                h5.danger * Please enter all required fields.
                                br
                                .form-body.row    
                                    .form-group.col-xs-6.col-md-6
                                        p Father's Name*
                                        input(type='text' name='father_name')
                                    .form-group.col-xs-6.col-md-6
                                        p E-mail
                                        input(type='email' name='father_email')
                                    .form-group.col-xs-6.col-md-8
                                        p Address
                                        input(type='text' name='father_address')
                                    .form-group.col-xs-6.col-md-4
                                        p Contact Number*
                                        input(type='text' name='father_contact_number')
                                    .form-group.col-xs-6.col-md-6
                                        p Mother's Name*
                                        input(type='text' name='mother_name')
                                    .form-group.col-xs-6.col-md-6
                                        p E-mail
                                        input(type='email' name='mother_email')
                                    .form-group.col-xs-6.col-md-8
                                        p Address
                                        input(type='text' name='mother_address')
                                    .form-group.col-xs-6.col-md-4
                                        p Contact Number*
                                        input(type='text' name='mother_contact_number')       
                                h6.fs-subtitle.left-indent Note: N/A if not applicable
                                input.previous.action-button-previous(type='button' name='previous' value='Previous')
                                input.next.action-button(type='button' name='next' value='Next')
                            fieldset
                                h2.fs-title Payment Information
                                h5.danger * Please enter all required fields.
                                br
                                .form-body.row
                                    //- Payment Information
                                    .form-group.col-xs-6.col-md-4
                                        p Payment Method*
                                        select(required='required' name='payment_method')
                                            option GCash
                                            option Online Bank Transfer
                                            option Cash
                                            option Cheque
                                    .form-group.col-xs-6.col-md-4
                                        p Payment Status*
                                        select(required='required' name='payment_status')
                                            option Fully Paid
                                            option Partially Paid
                                            option Not Paid
                                    .form-group.col-xs-6.col-md-4
                                        p Payment Type*
                                        select(required='required' name='payment_type')
                                            option Full Payment
                                            option Installment Monthly
                                            option Installment Quarterly
                                    .form-group.col-xs-6.col-md-4
                                        p Amount Paid*
                                        input(type='text' name='amount_paid' placeholder='ex. 10000')       
                                h6.fs-subtitle.left-indent Note: N/A if not applicable
                                input.previous.action-button-previous(type='button' name='previous' value='Previous')
                                input.submit.action-button(type='submit' value='Submit')
    +footer
