extends commons/header
include commons/mixins
block body-content
    -data = data || {}
    if errors
        ul
        for error in errors
            li= error.msg
    +headerTitle('NEW STUDENT PROFILE')
        .content-body.row.justify-content-md-center
            .col-xs-6.col-md-8
                .card
                    .card-content.text-center
                        .card-body
                            h2.card Student Profile Form
                            h6.card-subtitle.text-muted Please enter the following information
                    .card-body
                        form(action="/student-profile/form" method="POST").form
                            .form-body.row
                                .form-group.col-xs-6.col-md-4
                                    p First Name
                                    input#first_name.form-control(type='text' name='first_name' required='required' value=data.first_name)
                                .form-group.col-xs-6.col-md-4
                                    p Middle Name
                                    input#middle_name.form-control(type='text' name='middle_name' required='required' value=data.middle_name)
                                .form-group.col-xs-6.col-md-4
                                    p Last Name
                                    input#last_name.form-control(type='text' name='last_name' required='required' value=data.last_name)
                                .form-group.col-xs-6.col-md-4
                                    p Nickname
                                    input#nickname.form-control(type='text' name='nickname')
                                .form-group.col-xs-6.col-md-4
                                    p Birthday
                                    input#birthday.form-control(type='date' name='birthday' required='required')
                                .form-group.col-xs-6.col-md-4
                                    p Gender
                                    select#gender.form-control(required='required' name='gender')
                                        option -
                                        option Male
                                        option Female
                                .form-group.col-xs-6.col-md-8
                                    p Address
                                    input#address.form-control(type='text' name='address' required='required')
                                .form-group.col-xs-6.col-md-4
                                    p Contact Number
                                    input#contactnumber.form-control(type='text' placeholder='ex. 09198765432' name='contact-number' required='required')
                            .form-body-solid
                                .row
                                    //- Father's Information
                                    .form-group.col-xs-6.col-md-6
                                        p Father's Name
                                        input#father_name.form-control(type='text' name='father_name')
                                    .form-group.col-xs-6.col-md-6
                                        p E-mail
                                        input#father_email.form-control(type='email' name='father_email')
                                    .form-group.col-xs-6.col-md-8
                                        p Address
                                        input#father_address.form-control(type='text' name='father_address')
                                    .form-group.col-xs-6.col-md-4
                                        p Contact Number
                                        input#father_contact_number.form-control(type='text' placeholder='ex. 09198765432' name='father_contact_number')
                            .form-body-solid
                                .row
                                    //- Mother's Information
                                    .form-group.col-xs-6.col-md-6
                                        p Mother's Name
                                        input#mother_name.form-control(type='text' name='mother_name')
                                    .form-group.col-xs-6.col-md-6
                                        p E-mail
                                        input#mother_email.form-control(type='email' name='mother_email')
                                    .form-group.col-xs-6.col-md-8
                                        p Address
                                        input#mother_address.form-control(type='text' name='mother_address')
                                    .form-group.col-xs-6.col-md-4
                                        p Contact Number
                                        input#mother_contact_number.form-control(type='text' placeholder='ex. 09198765432' name='mother_contact_number')
                            .form-body-solid
                                .row
                                    //- Payment Information
                                    .form-group.col-xs-6.col-md-4
                                        p Payment Method
                                        select#payment_method.form-control(required='required' name='payment_method')
                                            option -
                                            option GCash
                                            option Online Bank Transfer
                                            option Cash
                                            option Cheque
                                    .form-group.col-xs-6.col-md-4
                                        p Payment Status
                                        select#payment_status.form-control(required='required' name='payment_status')
                                            option -
                                            option Fully Paid
                                            option Partially Paid
                                            option Not Paid
                                    .form-group.col-xs-6.col-md-4
                                        p Payment Type
                                        select#payment_type.form-control(required='required' name='payment_type')
                                            option -
                                            option Full Payment
                                            option Installment Monthly
                                            option Installment Quarterly
                            .form-body-solid.text-center
                                button.btn.btn-outline-primary(type='submit') Submit
    +footer